
html, body {
  overflow-x: hidden;
  width: 100%;
}

.code{
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}

section, h2 {
  padding-top: 65px;
  margin-top: -60px;
}
span, i {
  pointer-events: none;
}
.mobibar {
  padding:1% 5%;
}

@media (min-width: 800px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  .mobibar {
    padding:0%;
    background-color: #fff !important;
    min-width: 25%;
    border-right: 1px solid #cccccc;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: 1px solid rgba(0,0,0,.125);
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
.dropdown a span {
  margin-left: 25px;
}
.dropdown a span, .sub-dropdown span {
  margin-left: 25px;
}
.sub-dropdown {
  border-top: 1px solid rgba(0,0,0,.125);
}
.sub-dropdown a span {
  margin-left: 50px;
}