body {
  overflow-x: hidden;
}

@media(max-width: 800px){
  .mobibar {
    padding: 10%;
    padding-top: 25%;
  }
  
}

@media (min-width: 800px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  .mobibar {
    background-color: #fff !important;
    min-width: 25%;
    border-right: 1px solid #cccccc;
    padding-top: 8%;
  }
}

.docs{
  padding-top: 100px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
}

.sub-dropdown {
  border-top: 1px solid rgba(0,0,0,.125);
}

span, i {
  pointer-events: none;
}

.fa-caret-down{
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}

.fa-caret-down.open{
  transform: rotate(-90deg);
  transition: transform 0.1s linear;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: 1px solid rgba(0,0,0,.125);
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown a span {
  margin-left: 25px;
}

.dropdown a span, .sub-dropdown span {
  margin-left: 25px;
}

.sub-dropdown a span {
  margin-left: 50px;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  text-align: left !important;
}

section, h2 {
  padding-top: 65px;
  margin-top: -60px;
}